<!DOCTYPE html>
<html ng-app>

<head></head>
<body>
<div ng-controller="geolocationController as geolocationVm">
    <form ng-submit="onFormSubmit(vin)" name ="geolocationForm" novalidate>
        <div class="form-group">
            <label for="vin">Enter VIN Number</label>
            <input type="text"
                   class="form-control"
                   name="vin"
                   ng-model="vin"
                   id="vin" placeholder="VIN">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <hr>


    <div>
        <div id="map" style="width: 500px; height: 400px;"></div>



    </div>
</div>
</body>